/GerenciadorDeSeries-Preloader/build/
/GerenciadorDeSeries-Preloader/dist/
/GerenciadorDeSeries-Preloader/nbproject/private/
/GerenciadorSerie/nbproject/private/
/GerenciadorSerie-Preloader/nbproject/private/
/GerenciadorSerie-Preloader/dist/
/GerenciadorSerie-Preloader/build/
/GerenciadorSerie/build/
/GerenciadorSerie/dist/
/teste/nbproject/private/
/teste/dist/
/teste/build/